<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/customScript.js"></script>
    <script src="scripts/customFilters.js"></script>
    <link rel="stylesheet" href="styles/tinystyle.css" />
</head>
<body>
    <div ng-controller="myController">
        <div>
            Name : {{Country.Name}}
        </div>

        <div>
            Capital : {{Country.Capital}}
        </div>

        <div>
            <img ng-src="{{Country.Flag}}" style="width:200px;height:100px" alt="{{Country.Name + ' Flag'}}" />
        </div>
    </div>
    <br />
    <br />
    <div ng-controller="twowaybind">
        <table>
            <tr>
                <td>Country Name</td>
                <td>
                    <input type="text" ng-model="Country.Name" />
                </td>
            </tr>
            <tr>
                <td>Capital</td>
                <td>
                    <input type="text" ng-model="Country.Capital" />
                </td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <td>Country Name</td>
                <td>
                    {{Country.Name}}
                </td>
            </tr>
            <tr>
                <td>Capital</td>
                <td>
                    {{Country.Capital}}
                </td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <div ng-controller="ngrepeat">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.Gender}}</td>
                    <td>{{employee.Salary}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <ul>
            <li ng-repeat="country in countries">
                {{country.name}} - Index = {{$index}}
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{city.name}} - Index = {{$index}}, ParentIndex = {{$parent.$index}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
    <br />
    <div ng-controller="ngevents">
        <table>
            <thead>
                <tr>
                    <th>Technology</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Like/Dislike</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in technologies">
                    <td>
                        {{technology.Name}}
                    </td>
                    <td>
                        {{technology.Likes}}
                    </td>
                    <td>
                        {{technology.Dislikes}}
                    </td>
                    <td>
                        <input type="button" value="Like" ng-click="increaseLikes(technology)" />
                        <input type="button" value="Dislike" ng-click="increaseDislikes(technology)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div ng-controller="ngfilters">
        Rows to display : <input type="number" step="1" min="0" max="5" ng-model="rowLimit">
        <br /><br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Salary (Amount)</th>
                    <th>Salary (Currency)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | limitTo:rowLimit">
                    <td>{{employee.FirstName | uppercase}}</td>
                    <td>{{employee.DateOfBirth | date:"dd/MM/yyyy"}}</td>
                    <td>{{employee.Gender | lowercase}}</td>
                    <td>{{employee.Salary | number:2}}</td>
                    <td>{{employee.Salary | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div ng-controller="ngsorting">
        Order by : <select ng-model="sortColumn">
            <option value="FirstName">First name ASC</option>
            <option value="Gender">Gender ASC</option>
            <option value="DateOfBirth">Date of birth ASC</option>
            <option value="-Salary">Salary DESC</option>
        </select>
        <br /><br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Salary (Amount)</th>
                    <th>Salary (Currency)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | orderBy:sortColumn">
                    <td>{{employee.FirstName | uppercase}}</td>
                    <td>{{employee.DateOfBirth | date:"dd/MM/yyyy"}}</td>
                    <td>{{employee.Gender | lowercase}}</td>
                    <td>{{employee.Salary | number:2}}</td>
                    <td>{{employee.Salary | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div ng-controller="ngfullduplexsorting">
        <table>
            <thead>
                <tr>
                    <th ng-click="sortData('FirstName')" style="cursor:pointer">FirstName <div ng-class="getSortStyle('FirstName')"></div> </th>
                    <th ng-click="sortData('DateOfBirth')" style="cursor:pointer">Date Of Birth <div ng-class="getSortStyle('DateOfBirth')"></div> </th>
                    <th ng-click="sortData('Gender')" style="cursor:pointer">Gender <div ng-class="getSortStyle('Gender')"></div> </th>
                    <th ng-click="sortData('Salary')" style="cursor:pointer">Salary (Amount) <div ng-class="getSortStyle('Salary')"></div> </th>
                    <th>Salary (Currency)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | orderBy:sortColumn:IsDescending">
                    <td>{{employee.FirstName | uppercase}}</td>
                    <td>{{employee.DateOfBirth | date:"dd/MM/yyyy"}}</td>
                    <td>{{employee.Gender | lowercase}}</td>
                    <td>{{employee.Salary | number:2}}</td>
                    <td>{{employee.Salary | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div ng-controller="ngsearchfilter">
        <input type="text" placeholder="Search by first name" ng-model="searchText.FirstName"/>
        <input type="text" placeholder="Search by city" ng-model="searchText.City" />
        <input type="checkbox" ng-model="exactMatch" /> Exact Match
        <br /> <br />
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Date of birth</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | filter:searchText:exactMatch">
                    <td>{{employee.FirstName}}</td>
                    <td>{{employee.DateOfBirth | date:"dd/MM/yyyy"}}</td>
                    <td>{{employee.Gender}}</td>
                    <td>{{employee.City}}</td>
                    <td>{{employee.Salary}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div ng-controller="ngsearchmultiplecolumnsingletextbox">
        Search <input type="text" placeholder="Search employees by name or city" ng-model="searchText" />
        <br /> <br />
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Date of birth</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | filter:search">
                    <td>{{employee.FirstName}}</td>
                    <td>{{employee.DateOfBirth | date:"dd/MM/yyyy"}}</td>
                    <td>{{employee.Gender}}</td>
                    <td>{{employee.City}}</td>
                    <td>{{employee.Salary}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div ng-controller="ngcustomfilter">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Gender</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.FirstName}}</td>
                    <td>{{employee.Gender | getGender}}</td>
                    <td>{{employee.City}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div ng-controller="nghideshow">
        <input type="checkbox" ng-model="hideSalary" /> Hide/Mask salary
        <br /> <br />
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th ng-hide="hideSalary">Salary</th>
                    <th ng-show="hideSalary">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.FirstName}}</td>
                    <td>{{employee.Gender | getGender}}</td>
                    <td>{{employee.City}}</td>
                    <td ng-hide="hideSalary">{{employee.Salary}}</td>
                    <td ng-show="hideSalary">#####</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
